.room-view {
  &__STB {
    position: absolute;
    right: var(--sp-normal);
    bottom: 0;
    border-radius: var(--bo-radius);
    box-shadow: var(--bs-surface-border);
    background-color: var(--bg-surface-low);
    transition: transform 200ms ease-in-out;
    transform: translateY(100%) scale(0);
    [dir=rtl] & {
      right: unset;
      left: var(--sp-normal);
    }
  }
}
.room-view__scrollable {
  .typing-notification {
    background: var(--bg-surface);
    &--open {
      transform: translateY(-28px) scale(1);
    }
  }
}