:root {
  --font-family: Go Mono;
  --tc-surface-high: #000;
  --tc-surface-normal: #000;
  --tc-surface-low: #000;
  --navigation-sidebar-width: calc(64px - 8px);
  --av-small: 24px;
  --bo-radius: 4px;
  --lh-b1: 1.3;
  --lh-b2: --lh-b1;
  --lh-b3: --lh-b1;
  --lh-h1: --lh-b1;
  --lh-h2: --lh-b1;
  --lh-h3: --lh-b1;

  --mod-activity-ring: #8cb5ff;
  --mod-selected-bg: #8cb5ff;
  --mod-notification-dot: #73ff70;
}

// UGH...
// I can't make this `mod.scss` apply after *all* scss files.
// This is because other scss files are `import`ed as needed in jsx files.
// And this sucks as ordering would be the actual way to make this work.
// Instead we'll make the rules have more weight with that one ID.
#root {

.message + .timeline-change,
.message--content-only + .message--full,
.message--full + .message--full,
.timeline-change + .message {
  margin-top: initial;
}

.navigation {
  background: #f5f5f5;
}
.rooms-container:before {
  background: initial;
}
.rooms__wrapper > * {
  padding: 0;
}
.room-selector__content {
  padding: 0;
}
.sidebar-avatar--active {
  background: var(--mod-selected-bg);
  box-shadow: 0 0 0 5px --mod-selected-bg;
  border-radius: 3px;
}
.room-selector--selected {
  background: var(--mod-selected-bg);
  .text {
    color: #000;
  }
}
.room-selector {
  .avatar-container {
    border-color: transparent;
  }
}
.avatar-container {
  border: 1px solid #cfcfcf;
}
.message__avatar-container,
.ph-msg__avatar-container {
  margin-right: 6px;
}
.message,
.ph-msg {
  padding-left: 8px;
  padding-right: 2px;
  padding-bottom: 0;
  padding-top: 0;
}

.navigation__wrapper:not(:hover) {
  .header {
    width: 0;
    overflow: hidden;
  }

  .room-selector__content > .text,
  .room-selector__options {
    display: none;
  }

  .room-selector {
    position: relative;
    .notification-badge {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(var(--av-extra-small) - 6px);
    }
  }
}

.navigation__wrapper {
  $expanded: 240px;
  $collapsed: 110px;
  width: auto;
  max-width: $collapsed;
  min-width: $collapsed;

  // /*
  &:focus,
  &:hover {
    width: auto;
    max-width: $expanded;
    min-width: $expanded;
    margin-right: -1 * ( $expanded - $collapsed );
    z-index: 10;
  }
  /* */

  .rooms-container .avatar-container {
    img, .avatar__border {
      width: var(--av-extra-small);
      height: var(--av-extra-small);
    }
  }
}
.message__content, .message__edit, .message__reactions, .message__reply {
  max-width: initial;
}
.message__reply {
  border-radius: 6px 0 0 6px;
  border-left: 0.6rem #8cb5ff solid;
  background: #f0f6ff;
  padding-left:   6px;
  padding-top:    6px;
  padding-bottom: 6px;
}
.room-view__content .timeline-change {
  margin-bottom: 6px;
  border-radius: 6px 0 0 6px;
  border-left: 0.6rem #d3d3d3 solid;
  background: #f7f7f7;
  margin-left: 6px;
  padding-left:   6px;
  padding-top:    6px;
  padding-bottom: 6px;
}
.sidebar-avatar .notification-badge,
.notification-badge {
  &.important {
    background-color: var(--mod-notification-dot);
  }
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--mod-activity-ring);
  transform: scale(1.2);
  .sidebar-avatar--active & {
    visibility: hidden;
  }
}

}
